h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  color: var(--primary-blue);
}

h3, h4 {
  color: var(--primary-blue);
  margin-bottom: 1rem;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #333;
}

ul li {
  background-color: var(--white-color);
  color: var(--primary-blue);
  font-weight: 500;
  transition: transform 0.3s ease;
}

ul li:hover {
  transform: translateY(-5px);
  background-color: var(--light-gray);
}
