
.contact-icon-box {
  width: 35px;
  height: 35px;
  background-color: rgba(13, 110, 253, 0.1);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.social-btn {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social-btn:hover {
  transform: translateY(-3px);
  background-color: #0d6efd;
  color: white !important;
}

.footer-links a {
  transition: all 0.3s ease;
}



